html,
body,
#map {
  height: calc(100vh - 62px);
  width: 100% !important;

  text-align: center;
  padding-top: 60px;
  box-shadow: 0px 1px 10px #999;
}

.gaznav {
  background-color: #4783cc;
  color: white;
}

* {
  font-family: "Lato", sans-serif;
}
#information {
  margin: 0;
  width: auto;
}

body {
  padding-top: 70px;
  padding: 0;
  margin: 0;
}
table,
td,
tr {
  text-align: left;
}

.leaflet-tooltip {
  position: absolute;
  padding: 0px;
  background-color: #fff;

  border-radius: 3px;
  color: #222;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.info {
  max-height: 70vh;
  overflow-y: scroll;
  font-size: 0.25;
}
.weather {
  object-fit: cover;
  height: 25px;
  width: 18px;
}
.summary,
#summary,
#capital,
#population,
#continent,
#furtherinfo,
.modal-header {
  color: black;

  text-align: left;
}

.leaflet-container a {
  color: #00008a;
}
a {
  color: darkblue;
}
.newslink {
  font-size: 1.5rem !important;
}

.news,
.summary {
  padding: 8px;

  /* margin: auto; */
  text-align: left;

  width: 100% !important;
}

#weatherinfo {
  margin: 0;
  text-align: left;
}

.news img {
  box-shadow: 0px 1px 10px #999;
  margin: auto;
  display: block;
  border-radius: 7px;
}
.headline:hover,
.headline2:hover,
.headline3:hover,
.headline4:hover {
  text-decoration: none !important;
  color: blue !important;
}
.headline,
.headline2,
.headline3,
.headline4 {
  color: black !important;
  font-weight: bold;
}

#infomodal {
  color: black !important;
}

.articlerow {
  border-radius: 15px;
  padding: 0px;
}

p {
  font-weight: bold !important;
  margin: 5px;
}

#weathertable td tr {
  font-weight: normal;
  border: solid 1px black;
}
.weatherrow {
  text-align: center;
}
.country {
  margin: 0 auto;
}
.news a {
  font-size: 0.7em;
}
.newsimagelink {
  margin: 0;
}
#weatherinfo th {
  width: 100px;
}

.description {
  text-transform: capitalize;
}
#furtherinfo {
  color: blue;
}
#rates {
  font-size: 0.7rem;
  text-align: left;
}
.leaflet-popup-content-wrapper,
.leaflet-tooltip {
  border-radius: 8px;
  border: solid 1px black;
  width: 200px;
  padding: 3px;
}
.weatherrow,
.exchangerow {
  border-bottom: solid 1px #bbb;
}
.capitalimage {
  box-shadow: 0px 1px 10px #999;
}
